# top-most EditorConfig file
root = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js}]
charset = utf-8

# Matches the exact files either package.json
[*.json]
indent_style = space
indent_size = 2

# Indentation override for all JS under lib directory
[src/**/*.js]
indent_style = tab
indent_size = 4