# top-most EditorConfig file
root = true
end_of_line = lf

# Matches multiple files with brace expansion notation
# Set default charset
[*.js]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.scss]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[src/**/*.js]
insert_final_newline = true
trim_trailing_whitespace = true
