@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2 supports variations'),
    url('../fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-stretch: 50% 200%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2')
      format('woff2 supports variations'),
    url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-stretch: 50% 200%;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-VariableFont_wght.woff2') format('woff2 supports variations'),
    url('../fonts/JetBrainsMono-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-stretch: 50% 200%;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply underline;
  }
}
